@import "vars";

html {
  font-family: var(--body-font-family);
  font-weight: 300;
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: var(--body-text-color);
  overflow-y: scroll;
  margin: {
    left: auto;
    right: auto;
  }
  line-height: 1.5;

  h1 {
    font-size: var(--h1);
  }
  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  a {
    color: var(--link-color);
  }

  .vb-page {
    transition: opacity 200ms ease-in;
    opacity: 0;
  }

  .vb-page.show {
    opacity: 1;
  }
}

* {
  -webkit-appearance: value;
  -moz-appearance:    value;
  appearance:         value;
}



