html {

  --journalOpacity: 1;
  
  // colors and shadows
  --content-foreground-color-light-translucent: #fffc;
  --body-background-color-light: #fff;
  --body-background-color-dark: #000;
  --content-background-color: #fff;
  --content-foreground-color: #000;
  --content-foreground-color-translucent: #0004;
  --content-foreground-color-opaque: #000c;

  --body-text-shadow: 0px 1px 0px var(--content-background-color);
  --body-text-color: #111;
  --link-color: #000;
  --shadow-faint-color: #00000011;

  // fonts
  --header-font-family: 'Quakiez', 'Helvetica', 'Arial', 'sans-serif';
  --body-font-family: 'IBM Plex Sans', sans-serif;
  --h1: 400%;
  --h2: 300%;
  --h3: 250%;
  --h4: 150%;

  // sizing
  --body: 18px;
  --section-padding: 20px;
  --border-radius: 16px;
  --default-width: 768px;
  --under-border-thickness: 4px;
}

