html {
  --background: #000;
  --backgroundHome: url('../media/bg-underlay-home.png');
  --foreground: #fff;
  --headerFontFamily: 'Cinerama', 'Helvetica', 'Arial', 'sans-serif';
  --journalOpacity: 1;

  --h1: 400%;
  --h2: 300%;
  --h3: 250%;
  --h4: 150%;
}
