html {
  --background: #000;
  --foreground: #fff;
  --headerFontFamily: 'Cinerama', 'Helvetica', 'Arial', 'sans-serif';
  --journalOpacity: 1;
  
  --body-text-color: #222222;
  --link-colour: #000088;

  --h1: 400%;
  --h2: 300%;
  --h3: 250%;
  --h4: 150%;
  --body: 18px;

}
